<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>This is my first server side program.</h1> 
    
    <form method="post" action="/user">
        url: <input type="text" name="url" id="">
        <button type="submit">generate</button>
    </form>
</body>
</html>